    /* common  */
    
    .head_con,
    .banner_con,
    .vid_con,
    .menpai_con {
        width: 1200px;
        margin: 0 auto;
    }
    
    body,
    html {
        /* height: 6000px;
        ; */
        height: 100%
        /* overflow: hidden; */
    }
    /* cebian */
    
    .cebian {
        width: 106px;
        min-height: 5000px;
        /* background: yellow; */
        position: absolute;
        top: 230px;
        left: 2.5%;
        /* position: sticky;
        top: 100px; */
        z-index: 999;
        /* opacity: 0.8; */
    }
    
    .cebian .cb {
        width: 106px;
        height: 260px;
    }
    
    .cebian .cb1 {
        position: absolute;
        top: 0;
        left: -41px;
    }
    
    .cebian .cb2 {
        position: absolute;
        top: 17.5%;
        left: -41px;
    }
    
    .cebian .cb3 {
        position: absolute;
        top: 35%;
        left: -41px;
    }
    
    .cebian .cb4 {
        position: absolute;
        top: 52.5%;
        left: -41px;
    }
    
    .cebian .cb5 {
        position: absolute;
        top: 70%;
        left: -41px;
    }
    
    .cebian .cb6 {
        position: absolute;
        top: 87.5%;
        left: -41px;
    }
    
    #cebiana .cebian .act {
        background: url(../images/cb.png) no-repeat;
        transition: 1.3s ease-out;
        transform: translateX(41px);
        background-size: 100% 100%;
    }
    /* head */
    
    #head {
        width: 100%;
        height: 50px;
        background: url(../images/head.jpeg) repeat;
        background-size: 100% 100%;
        z-index: 999;
    }
    
    #head .head_con {
        height: 50ox;
    }
    /* left */
    
    #head .head_con .headLeft {
        float: left;
    }
    
    #head .head_con .headLeft h1 {
        float: left;
        box-sizing: border-box;
        padding-top: 4px;
    }
    
    #head .head_con .headLeft div:first-of-type {
        float: left;
        height: 50px;
        line-height: 50px;
        box-sizing: border-box;
        padding-left: 10px;
    }
    
    #head .head_con .headLeft div:first-of-type img {
        display: inline-block
    }
    /* right */
    
    #head .head_con .headRight {
        float: right;
    }
    /* loginC */
    
    #head .head_con .headRight .loginC {
        position: absolute;
        right: 614px;
        display: none;
    }
    
    #head .head_con .headRight .act {
        display: block;
        /* position: relative; */
    }
    
    #head .head_con .headRight .loginC span {
        font-size: 13px;
        height: 50px;
        line-height: 50px;
        color: #e94a37;
        cursor: pointer;
    }
    
    #head .head_con .headRight .loginC span:hover {
        text-decoration: underline;
    }
    /* loginC */
    
    #head .head_con .headRight ul {
        width: 412px;
        height: 50px;
    }
    
    #head .head_con .headRight ul li {
        float: left
    }
    
    #head .head_con .headRight ul li a {
        font-size: 13px;
        padding: 0 12px;
        height: 50px;
        line-height: 50px;
        color: #949596
    }
    
    #head .head_con .headRight ul li:last-child a {
        color: #66696B
    }
    
    #head .head_con .headRight ul li:nth-child(5) a {
        color: #66696B
    }
    
    #head .head_con .headRight ul li a:hover {
        color: #ececec
    }
    /* banner */
    
    #banner {
        width: 100%;
        height: 910px;
        background: url(../images/banner.jpg) no-repeat center center;
        background-size: 2250px 100%;
        z-index: 998;
        position: relative;
    }
    
    #banner .banner_con {
        height: 600px;
        position: relative;
    }
    
    #banner .banner_con .year {
        width: 246px;
        height: 52px;
        position: absolute;
        top: 21px;
        right: 0;
    }
    
    #banner .banner_con .year a {
        display: block;
        width: 246px;
        height: 52px;
        background: url(../images/banner1.png) no-repeat left top;
        /* background-size: 100% 100%; */
    }
    
    #banner .banner_con .year a:hover {
        background: url(../images/banner1.png) no-repeat left -52px;
    }
    
    #banner .banner_con .step {
        width: 1189px;
        height: 263px;
        margin: 0 auto;
        background: url(../images/banner2.png) no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: 640px;
        left: 10px
    }
    
    #banner .banner_con .step .stepLeft {
        position: relative;
        width: 290px;
        height: 223px;
        left: 45px;
        top: 24px;
    }
    
    #banner .banner_con .step .stepLeft img {
        width: 100%;
        height: 100%;
    }
    
    #banner .banner_con .step .stepLeft .step_btn {
        width: 290px;
        height: 44px;
        cursor: pointer;
        position: absolute;
        left: 0;
        bottom: 0
    }
    
    #banner .banner_con .step .stepCenter {
        width: 394px;
        height: 258px;
        background: url(../images/banner2-2.png) no-repeat 76px 18px;
        position: relative;
        top: -8px;
        left: 45px;
        background-size: 99% 99%;
    }
    
    #banner .banner_con .step .stepCenter .tit {
        width: 216px;
        height: 36px;
        background: url(../images/tit1.png) no-repeat;
        position: absolute;
        top: 40px;
        left: 155px;
        background-size: 100% 100%;
    }
    
    #banner .banner_con .step .stepCenter .step_btn {
        width: 290px;
        height: 44px;
        cursor: pointer;
        position: absolute;
        left: 120px;
        bottom: 0;
        background: url(../images/banner2-2.1.png) no-repeat;
        background-size: 100% 100%;
    }
    
    #banner .banner_con .step .stepCenter .step_btn:hover {
        background: url(../images/banner2.1.png) no-repeat;
        background-size: 100% 100%;
    }
    
    #banner .banner_con .step .stepRight {
        width: 448px;
        height: 295px;
        position: relative;
        top: -4px;
        left: 55px;
    }
    
    #banner .banner_con .step .stepRight img {
        position: absolute;
        width: 83%;
        height: 83%;
        left: 55px;
        top: 20px;
        display: none;
    }
    
    #banner .banner_con .step .stepRight .active {
        display: block;
    }
    
    #banner .banner_con .step .stepRight .tit {
        width: 181px;
        height: 34px;
        background: url(../images/tit2.png) no-repeat;
        position: absolute;
        top: 40px;
        left: 155px;
        background-size: 100% 100%;
    }
    
    #banner .banner_con .step .stepRight .login_txt {
        font-size: 14px;
        color: #296f81;
        position: absolute;
        left: 200px;
        top: 73px;
        z-index: 2;
        box-sizing: border-box;
        padding-left: 5px;
    }
    
    #banner .banner_con .step .stepRight .login_bg {
        width: 185px;
        height: 7px;
        position: absolute;
        left: 162px;
        top: 80px;
        /* background: url(../images/ll.png), url(../images/xx.png), url(../images/xx.png), url(../images/rr.png);
    background-position: left center;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: cover, cover, cover, cover; */
        z-index: 50;
    }
    
    #banner .banner_con .step .stepRight .login_bg div:first-child {
        width: 31px;
        height: 7px;
        background: url(../images/ll.png) no-repeat center;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    #banner .banner_con .step .stepRight .login_bg div:nth-child(2) {
        width: 7px;
        height: 7px;
        background: url(../images/xx.png) no-repeat center;
        position: absolute;
        left: 31px;
        top: 0;
    }
    
    #banner .banner_con .step .stepRight .login_bg div:nth-child(3) {
        width: 7px;
        height: 7px;
        background: url(../images/xx.png) no-repeat center;
        position: absolute;
        left: 151px;
        top: 0;
    }
    
    #banner .banner_con .step .stepRight .login_bg div:nth-child(4) {
        width: 31px;
        height: 7px;
        background: url(../images/rr.png) no-repeat center;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    #banner .banner_con .step .stepRight .step_btn {
        width: 290px;
        height: 44px;
        cursor: pointer;
        position: absolute;
        left: 120px;
        bottom: 40px;
        z-index: 1;
        background: url(../images/download.png) no-repeat;
        background-size: 100% 100%;
    }
    
    #banner .banner_con .step .stepRight .step_btn:hover {
        background: url(../images/download1.png) no-repeat;
        background-size: 100% 100%;
    }
    
    #banner .banner_con .stepPro {
        float: left;
    }
    
    #vid_one {
        width: 100%;
        height: 1076px;
        background: url(../images/vid.png) repeat center top;
        background-size: 100% 100%;
        position: relative;
        top: -260px;
        /* z-index: -1; */
    }
    
    #vid_one .vid_con {
        height: 1076px;
    }
    
    #vid_one .vid_con .vid_pro {
        width: 1128px;
        height: 534px;
        background: url(../images/vid2.png), url(../images/vid3.png);
        background-repeat: no-repeat, no-repeat;
        background-position: 3px top, left bottom;
        /* background: yellowgreen; */
        background-size: 100% 100%;
        position: absolute;
        top: 360px;
        /* z-index: 1; */
        left: 50%;
        margin-left: -562px;
    }
    
    #vid_one .vid_con video {
        width: 1118px;
        height: 527px;
        margin-left: 15px;
        position: absolute;
        top: 363px;
        left: 50%;
        margin-left: -557px;
    }
    
    #vid_one .vid_con .tit {
        width: 150px;
        height: 440px;
        background: url(../images/vid1.png) no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: 320px;
        /* z-index: 1; */
        left: 50%;
        margin-left: -630px;
    }
    /* vid_two */
    
    #vid_two {
        width: 100%;
        height: 840px;
        /* background: url(../images/vid.png) repeat center top; */
        background-size: 100% 100%;
        position: relative;
        /* z-index: -1; */
        top: -260px;
        /* overflow: hidden; */
    }
    
    #vid_two .video-box {
        width: 100%;
        height: 840px;
        overflow: hidden;
    }
    
    #vid_two .video-box video {
        width: 2239px;
        height: 840px;
    }
    
    #vid_two .tit {
        width: 149px;
        height: 439px;
        background: url(../images/top2.png) no-repeat;
        background-size: cover;
        position: absolute;
        top: -3.5%;
        right: 13.5%;
    }
    
    #vid_two .vid_two_tits {
        width: 353px;
        height: 160px;
        /* background: url(../images/lot.png) no-repeat;
    background-size: cover; */
        position: absolute;
        top: 0;
        z-index: 999;
        left: 13.5%;
    }
    
    .vid_two_tits div {
        width: 48.2px;
        height: 180px;
        float: left;
        margin-right: 12px;
        cursor: pointer;
    }
    
    .vid_two_tits div:nth-child(1) {
        background: url(../images/lot.png) no-repeat;
        background-position-x: 0;
        background-position-y: 0;
    }
    
    #vid_two .vid_two_tits .act {
        /* background: url(../images/lot.png) no-repeat; */
        /* display: block */
        background-position-y: -180px;
    }
    
    .vid_two_tits div:nth-child(2) {
        background: url(../images/lot.png) no-repeat -69px 0;
    }
    
    .vid_two_tits div:nth-child(3) {
        background: url(../images/lot.png) no-repeat -139px 0;
    }
    
    .vid_two_tits div:nth-child(4) {
        background: url(../images/lot.png) no-repeat -211px 0;
    }
    
    .vid_two_tits div:nth-child(5) {
        background: url(../images/lot.png) no-repeat -279px 0;
    }
    
    .vid_two_tits div:last-child {
        margin-right: 0;
        background: url(../images/lot.png) no-repeat -350px 0;
        /* background-size: contain; */
    }
    
    #vid_two .vid_two_tits div:nth-child(1):hover {
        background: url(../images/lot.png) no-repeat 0 -180px;
    }
    
    #vid_two .vid_two_tits div:nth-child(2):hover {
        background: url(../images/lot.png) -69px -180px no-repeat;
    }
    
    #vid_two .vid_two_tits div:nth-child(3):hover {
        background: url(../images/lot.png) -139px -180px no-repeat;
    }
    
    #vid_two .vid_two_tits div:nth-child(4):hover {
        background: url(../images/lot.png) -211px -180px no-repeat;
    }
    
    #vid_two .vid_two_tits div:nth-child(5):hover {
        background: url(../images/lot.png) -279px -180px no-repeat;
    }
    
    #vid_two .vid_two_tits div:last-child:hover {
        background: url(../images/lot.png) -350px -180px no-repeat;
    }
    /* menpai */
    
    #menpai1 {
        width: 100%;
        height: 652px;
        background: url(../images/yuncai.png) no-repeat;
        background-size: cover;
        position: relative;
        top: -630px;
        z-index: 20;
    }
    
    #menpai2 {
        width: 100%;
        height: 1148px;
        background: url(../images/menpai.png) no-repeat center top;
        /* background: red; */
        background-size: cover;
        position: relative;
        top: -1000px;
        z-index: 21;
        overflow: hidden;
    }
    
    #menpai2 .menpai_con {
        height: 942px;
        position: relative;
    }
    
    #menpai2 .menpai_con .tit {
        width: 156px;
        height: 758px;
        background: url(../images/kk.png) no-repeat;
        background-size: cover;
        position: absolute;
        top: 200px;
        left: 0;
        padding-top: 58px;
        z-index: 999;
    }
    
    #menpai2 .menpai_con .tit div {
        margin-left: 16px;
        width: 127px;
        height: 49px;
    }
    
    #menpai2 .menpai_con .tit .act {
        background-position-x: -12px;
    }
    
    .menpai_con .tit div:nth-child(1) {
        background: url(../images/lots.png) no-repeat -168px 0;
    }
    
    .menpai_con .tit div:nth-child(2) {
        background: url(../images/lots.png) no-repeat -168px -52px;
    }
    
    .menpai_con .tit div:nth-child(3) {
        background: url(../images/lots.png) no-repeat -168px -104px;
    }
    
    .menpai_con .tit div:nth-child(4) {
        background: url(../images/lots.png) no-repeat -168px -156px;
    }
    
    .menpai_con .tit div:nth-child(5) {
        background: url(../images/lots.png) no-repeat -168px -208px;
    }
    
    .menpai_con .tit div:nth-child(6) {
        background: url(../images/lots.png) no-repeat -168px -260px;
    }
    
    .menpai_con .tit div:nth-child(7) {
        background: url(../images/lots.png) no-repeat -168px -312px;
    }
    
    .menpai_con .tit div:nth-child(8) {
        background: url(../images/lots.png) no-repeat -168px -368px;
    }
    
    .menpai_con .tit div:nth-child(9) {
        background: url(../images/lots.png) no-repeat -168px -420px;
    }
    
    .menpai_con .tit div:nth-child(10) {
        background: url(../images/lots.png) no-repeat -168px -472px;
    }
    
    .menpai_con .tit div:nth-child(11) {
        background: url(../images/lots.png) no-repeat -168px -524px;
    }
    
    .menpai_con .tit div:nth-child(12) {
        background: url(../images/lots.png) no-repeat -168px -576px;
    }
    
    .menpai_con .tit div:nth-child(13) {
        background: url(../images/lots.png) no-repeat -168px -628px;
    }
    
    .menpai_con .tit div:nth-child(14) {
        background: url(../images/lots.png) no-repeat -168px -680px;
    }
    
    #menpai2 .menpai_con .tit div:nth-child(1):hover {
        background: url(../images/lots.png) no-repeat -12px 0;
    }
    
    #menpai2 .menpai_con .tit div:nth-child(2):hover {
        background: url(../images/lots.png) no-repeat -12px -52px;
    }
    
    #menpai2 .menpai_con .tit div:nth-child(3):hover {
        background: url(../images/lots.png) no-repeat -12px -104px;
    }
    
    #menpai2 .menpai_con .tit div:nth-child(4):hover {
        background: url(../images/lots.png) no-repeat -12px -156px;
    }
    
    #menpai2 .menpai_con .tit div:nth-child(5):hover {
        background: url(../images/lots.png) no-repeat -12px -208px;
    }
    
    #menpai2 .menpai_con .tit div:nth-child(6):hover {
        background: url(../images/lots.png) no-repeat -12px -260px;
    }
    
    #menpai2 .menpai_con .tit div:nth-child(7):hover {
        background: url(../images/lots.png) no-repeat -12px -312px;
    }
    
    #menpai2 .menpai_con .tit div:nth-child(8):hover {
        background: url(../images/lots.png) no-repeat -12px -368px;
    }
    
    #menpai2 .menpai_con .tit div:nth-child(9):hover {
        background: url(../images/lots.png) no-repeat -12px -420px;
    }
    
    #menpai2 .menpai_con .tit div:nth-child(10):hover {
        background: url(../images/lots.png) no-repeat -12px -472px;
    }
    
    #menpai2 .menpai_con .tit div:nth-child(11):hover {
        background: url(../images/lots.png) no-repeat -12px -524px;
    }
    
    #menpai2 .menpai_con .tit div:nth-child(12):hover {
        background: url(../images/lots.png) no-repeat -12px -576px;
    }
    
    #menpai2 .menpai_con .tit div:nth-child(13):hover {
        background: url(../images/lots.png) no-repeat -12px -628px;
    }
    
    #menpai2 .menpai_con .tit div:nth-child(14):hover {
        background: url(../images/lots.png) no-repeat -12px -680px;
    }
    /* ============================================== */
    /* #menpai2 .menpai_all {
        width: 2000px;
        height: 950px;
        position: absolute;
        top: 170px;
        left: -230px;
        /* background: aqua */
    /* z-index: 998; */
    /* background: wheat */
    /* } */
    
    #menpai2 .rot {
        width: 60px;
        height: 60px;
        background: url(../images/rote.png), url(../images/mc.png);
        background-size: cover, cover;
        position: absolute;
        left: 50.7%;
        margin-left: 140px;
        top: 55.8%;
        z-index: 998;
        cursor: pointer;
    }
    
    #menpai2 .play_v {
        width: 26px;
        height: 42px;
        background: url(../images/play1.png) no-repeat;
        background-size: cover;
        position: absolute;
        left: 52%;
        margin-left: 140px;
        top: 56.5%;
        z-index: 998;
        cursor: pointer;
    }
    
    #menpai2 .menpai_pro {
        width: 2000px;
        height: 950px;
        position: absolute;
        top: 170px;
        left: -240px;
        display: none;
    }
    
    #menpai2 .act_menpai {
        display: block;
    }
    
    #menpai2 .the_one {
        background: url(../images/mj.png) no-repeat left top;
        background-size: cover;
    }
    
    #menpai2 .the_two {
        background: url(../images/gb.png) no-repeat left top;
        background-size: cover;
    }
    
    #menpai2 .the_three {
        background: url(../images/tc.png) no-repeat left top;
        background-size: cover;
    }
    
    #menpai2 .the_four {
        background: url(../images/bd.png) no-repeat left top;
        background-size: cover;
    }
    
    #menpai2 .the_five {
        background: url(../images/cy.png) no-repeat left top;
        background-size: cover;
    }
    
    #menpai2 .the_six {
        background: url(../images/qx.png) no-repeat left top;
        background-size: cover;
    }
    
    #menpai2 .the_seven {
        background: url(../images/ol.png) no-repeat left top;
        background-size: cover;
    }
    
    #menpai2 .the_eight {
        background: url(../images/tm.png) no-repeat left top;
        background-size: cover;
    }
    
    #menpai2 .the_eight {
        background: url(../images/tm.png) no-repeat left top;
        background-size: cover;
    }
    
    #menpai2 .the_nine {
        background: url(../images/cj.png) no-repeat left top;
        background-size: cover;
    }
    
    #menpai2 .the_ten {
        background: url(../images/wh.png) no-repeat left top;
        background-size: cover;
    }
    
    #menpai2 .the_elven {
        background: url(../images/cg.png) no-repeat left top;
        background-size: cover;
    }
    
    #menpai2 .the_twevle {
        background: url(../images/cya.png) no-repeat left top;
        background-size: cover;
    }
    
    #menpai2 .the_thirteen {
        background: url(../images/fsl.png) no-repeat left top;
        background-size: cover;
    }
    
    #menpai2 .the_fourteen {
        background: url(../images/wd.png) no-repeat left top;
        background-size: cover;
    }
    
    #playStyle {
        width: 100%;
        height: 955px;
        background: url(../images/wf.jpg) no-repeat center center;
        position: relative;
        top: -1000px;
    }
    
    #playStyle .tit {
        width: 150px;
        height: 440px;
        background: url(../images/paly1.png) no-repeat;
        background-size: cover;
        position: absolute;
        right: 13%;
        top: -6%;
        z-index: 999;
    }
    
    #yc2 {
        width: 100%;
        height: 1224px;
        position: relative;
        background: yellow;
        background: url(../images/yc2.png);
        top: -1450px;
    }
    
    #jianghu {
        width: 100%;
        height: 1223px;
        background: red;
        position: relative;
        top: -2500px;
        background: url(../images/yy.png) no-repeat -450px top;
    }
    
    #jianghu .tit {
        width: 1002px;
        height: 148px;
        position: absolute;
        top: 30%;
        background: yellow;
        background: url(../images/dmjg.png) no-repeat;
        background-size: cover;
        left: 50%;
        margin-left: -501px;
    }
    
    #jianghu .jtx {
        width: 60px;
        height: 39px;
        background: url(../images/jt.png) no-repeat;
        background-size: cover;
        position: absolute;
        top: 45%;
        left: 50%;
        margin-left: -30px;
        animation: fup 1s infinite alternate linear both;
    }
    
    @keyframes fup {
        0% {
            transform: translateY(-4px);
        }
        50% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(4px);
        }
    }
    
    #jianghu .btns {
        width: 615px;
        height: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -308px;
    }
    
    #jianghu .btns .btn1 {
        width: 290px;
        height: 60px;
        background: url(../images/ljzc.png) no-repeat;
        background-size: cover;
        float: left;
        cursor: pointer;
    }
    
    #jianghu .btns .btn2 {
        width: 290px;
        height: 60px;
        background: url(../images/msxz.png) no-repeat;
        background-size: cover;
        float: right;
        cursor: pointer;
    }
    
    #jianghu .btns .btn1:hover {
        background: url(../images/ljzc1.png) no-repeat;
        background-size: cover;
    }
    
    #jianghu .btns .btn2:hover {
        background: url(../images/msxz1.png) no-repeat;
        background-size: cover;
    }
    
    #jianghu .ewm {
        width: 1188px;
        height: 222px;
        background: url(../images/ewm.png) no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: 60%;
        left: 50%;
        margin-left: -594px;
    }
    /* footer */
    
    #footer {
        width: 100%;
        height: 202px;
        background: #222;
        position: relative;
        top: -2510px;
        padding: 15px 0;
    }
    
    #footer .footer_con {
        width: 900px;
        height: 202px;
        position: absolute;
        left: 50%;
        margin-left: -450px;
    }
    
    #footer .footer_con .footerTop {
        width: 898px;
        height: 41px;
    }
    
    #footer .footer_con .footerTop .im1 {
        float: left;
    }
    
    #footer .footer_con .footerTop .im2 {
        float: left;
    }
    
    #footer .footer_con .footerTop .link {
        float: left;
        width: 302px;
        height: 30px;
        /* line-height: 30px; */
        padding-top: 6px;
        box-sizing: border-box;
        margin-left: 3px;
    }
    
    #footer .footer_con .footerTop .link a {
        float: left;
        width: 48px;
        height: 15px;
        padding-right: 5px;
        color: #555;
        font-size: 12px;
        border-right: 1px solid #555;
        margin-right: 5px;
        line-height: 15px;
    }
    
    #footer .footer_con .footerTop .link a:last-child {
        border-right: none;
    }
    
    #footer .footer_con .copyr {
        font-size: 12px;
        color: #555;
    }
    
    #footer .footer_con .copyr1 a {
        font-size: 12px;
        color: #555;
        display: inline-block;
    }
    
    #footer .footer_con .copyr1 a:last-of-type {
        font-size: 12px;
        color: #555;
        position: relative;
    }
    
    #footer .footer_con .copyr1 a:last-of-type img {
        font-size: 12px;
        color: #555;
        position: absolute;
        top: 0;
        right: -15px;
        ;
    }
    
    #footer .footer_con .copyr1 i {
        font-size: 12px;
        color: #555;
    }
    
    #footer .footer_con .copyr2 a {
        font-size: 12px;
        color: #555;
    }
    
    #footer .footer_con .copyr3 a {
        font-size: 12px;
        color: #555;
    }
    
    #footer .footer_con .footerBottom {
        margin-top: 10px;
    }
    
    #footer .footer_con .footerBottom .left {
        float: left;
    }
    
    #footer .footer_con .footerBottom .left a {
        float: left;
    }
    
    #footer .footer_con .footerBottom .last {
        float: left;
    }
    
    #footer .footer_con .footerBottom .last p {
        font-size: 12px;
        color: #555;
    }
    
    #footer .footer_con .footerBottom .last p a {
        color: #cc0e2b
    }
    
    .videol {
        width: 100%;
        height: 100%;
        position: fixed;
        /* left: 50%;
        top: 50%;
        margin-top: -280px;
        margin-left: -428px; */
        z-index: 10000;
        display: none;
        background: rgb(0, 0, 0, 0.7);
    }
    
    .videol video {
        position: fixed;
        left: 50%;
        top: 50%;
        margin-top: -280px;
        margin-left: -428px;
        z-index: 10000;
    }
    /* login */
    
    .login {
        width: 570px;
        height: 275px;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background: url(../img/bottom.png) repeat-x center bottom;
        background-color: #fff;
        z-index: 1000000000;
        display: none;
    }
    
    .login form {
        width: 570px;
        height: 231px;
        box-sizing: border-box;
        padding: 20px 25px;
    }
    
    .login .tit {
        widows: 570px;
        height: 44px;
        background: url(../img/tbg.png) repeat-x left top;
        background-size: 100% 100%;
        color: #fff;
        font-weight: 900;
        text-align: center;
        line-height: 44px;
        position: relative;
    }
    
    .login .tit .btn {
        width: 44px;
        height: 44px;
        position: absolute;
        top: 0;
        right: -44px;
        background: url(../img/xxxxx.png) no-repeat center top;
        cursor: pointer;
    }
    
    .login .tit .btn:hover {
        background: url(../img/xxxxx.png) no-repeat center -44px;
    }
    
    .login form .username {
        width: 400px;
        height: 46px;
        margin: 14px auto;
    }
    
    .login form .password {
        width: 400px;
        height: 46px;
        margin: 0 auto;
    }
    
    .login form label {
        display: inline-block;
        width: 100px;
        height: 36px;
        text-align: right;
        font-size: 12px;
        color: #666;
        line-height: 36px;
        font-weight: 900;
    }
    
    .login form input {
        width: 212px;
        height: 32px;
        border: 1px solid #666;
        outline: #296f81;
        margin-right: 8px;
    }
    
    .login form i {
        text-decoration: underline;
        font-size: 12px;
        color: #991b0e;
        cursor: pointer;
    }
    
    .login form .btn {
        width: 200px;
        height: 44px;
        background: url(../img/log.jpg) no-repeat;
        background-size: cover;
        color: #fff;
        font-size: 18px;
        font-weight: 900;
        line-height: 44px;
        text-align: center;
        margin-left: 169px;
        margin-top: 10px;
    }
    
    .asd {
        display: block;
    }
    /* register */
    
    .register {
        width: 570px;
        height: 607px;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background: url(../img/bottom.png) repeat-x center bottom;
        background-color: #fff;
        z-index: 1000000000;
        display: none;
    }
    
    .register form {
        width: 570px;
        height: 563px;
        box-sizing: border-box;
        padding: 20px 25px;
    }
    
    .register .tit {
        widows: 570px;
        height: 44px;
        background: url(../img/tbg.png) repeat-x left top;
        background-size: 100% 100%;
        color: #fff;
        font-weight: 900;
        text-align: center;
        line-height: 44px;
        position: relative;
    }
    
    .register .tit .btn {
        width: 44px;
        height: 44px;
        position: absolute;
        top: 0;
        right: -44px;
        background: url(../img/xxxxx.png) no-repeat center top;
        cursor: pointer;
    }
    
    .register .tit .btn:hover {
        background: url(../img/xxxxx.png) no-repeat center -44px;
    }
    
    .register form .input {
        width: 400px;
        height: 46px;
        margin: 14px auto;
    }
    
    .register form .username {
        width: 400px;
        height: 46px;
        margin: 14px auto;
    }
    
    .register form .password {
        width: 400px;
        height: 46px;
        margin: 0 auto;
    }
    
    .register form .repasswd {
        width: 400px;
        height: 46px;
        margin: 0 auto;
    }
    
    .register form label {
        display: inline-block;
        width: 100px;
        height: 36px;
        text-align: right;
        font-size: 12px;
        color: #666;
        line-height: 36px;
        font-weight: 900;
    }
    
    .register form label strong {
        color: rgb(240, 0, 0);
    }
    
    .register form .input input {
        width: 212px;
        height: 32px;
        border: 1px solid #666;
        outline: #296f81;
        margin-right: 8px;
    }
    
    .register form i {
        text-decoration: underline;
        font-size: 12px;
        color: #991b0e;
        cursor: pointer;
    }
    
    .register form .btn {
        width: 200px;
        height: 44px;
        background: url(../img/log.jpg) no-repeat;
        background-size: cover;
        color: #fff;
        font-size: 18px;
        font-weight: 900;
        line-height: 44px;
        text-align: center;
        margin-left: 169px;
        margin-top: 20px;
    }
    
    .register p {
        text-align: center;
        font-size: 14px;
        color: #666;
    }
    
    .register .xy {
        text-align: center;
    }
    
    .register .xy span {
        text-decoration: underline;
        cursor: pointer;
        font-size: 12px;
        color: #1a273a;
        padding: 3px;
    }
    
    .register .xy span:hover {
        text-decoration: none;
    }
    
    .register .check {
        text-align: center;
    }
    
    .register .check label {
        margin-left: 3px;
        display: inline;
    }
    
    .asd {
        display: block;
    }