<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Document</title>
    <link rel="stylesheet" href="public/css/common.css">
    <link rel="stylesheet" href="public/css/index.css">
</head>

<body>
    <!-- cebian -->
    <div id="cebiana">
        <div class="cebian">
            <div class="cb cb1 act"></div>
            <div class="cb cb2"></div>
            <div class="cb cb3"></div>
            <div class="cb cb4"></div>
            <div class="cb cb5"></div>
            <div class="cb cb6"></div>
        </div>
    </div>
    <!-- videoll -->
    <div class="videol">
        <video style="object-fit: fill;width:856px;height: 480px;" autoplay controls>
            <source src="https://static.jx3.xoyo.com/HD_mingjiao.mp4">
    </video>
    </div>
    <!-- head -->
    <div id="head">
        <div class="head_con clear_fix">
            <div class="headLeft">
                <h1>
                    <a href="">
                        <img src="public/images/head1.png" alt="">
                    </a>
                </h1>
                <div>
                    <img src="public/images/head2.png" alt="">
                </div>

            </div>
            <div class="headRight">
                <div class="loginC">
                    <span></span>
                    <span>退出</span>
                </div>
                <ul>
                    <li>
                        <a href="">登录</a>
                    </li>
                    <li>
                        <a href="#">注册</a>
                    </li>
                    <li>
                        <a href="#">充值</a>
                    </li>
                    <li>
                        <a href="#">老玩家回归指南</a>
                    </li>
                    <li>
                        <a href="#">客服</a>
                    </li>
                    <li>
                        <a href="#">增值服务</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- banner -->
    <div id="banner">
        <div class="banner_con">
            <div class="year">
                <a href="#"></a>
            </div>
            <div class="step">
                <div class="stepLeft stepPro">
                    <img src="./public/images/banner2-1.png" alt="">
                    <div class="step_btn"></div>
                </div>
                <div class="stepCenter stepPro">
                    <div class="tit"></div>
                    <div class="step_btn"></div>
                </div>
                <div class="stepRight stepPro">
                    <div class="tit"></div>
                    <div class="login_txt">登录送背部挂件</div>
                    <div class="login_bg">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="step_btn"></div>
                    <img class="img1 active" src="./public/images/banner3-4.png" alt="">
                    <img class="img2" src="./public/images/banner3-5.png" alt="">
                    <img class="img3" src="./public/images/banner3-3.1.png" alt="">
                    <img class="img4" src="./public/images/banner3-2.png" alt="">
                </div>
            </div>

        </div>
    </div>
    <!-- vid_one -->
    <div id="vid_one">
        <div class="vid_con">
            <video autoplay muted loop>
                        <source src="https://static.jx3.xoyo.com/video/20190605/gwflyqingong_cq.mp4">
                   </video>
            <div class="vid_pro">

            </div>
            <div class="tit">

            </div>
        </div>
    </div>
    <!-- vid_two -->
    <div id="vid_two">
        <div class="vid_two_tits">
            <div class="act"></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="video-box">
            <video style="object-fit: fill;width:100%;height: 100%;" autoplay muted>
                    <source src="https://static.jx3.xoyo.com/gfsj/20181201/1night.mp4">
            </video>
        </div>

        <div class="tit">

        </div>

    </div>
    <!-- menpai -->
    <div id="menpai1">

    </div>
    <div id="menpai2">
        <div class="menpai_con">
            <div class="tit">
                <div class="act"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

        </div>
        <!-- <div class="menpai_all">
        </div> -->
        <div class="rot">

        </div>
        <div class="play_v">

        </div>
        <div class="menpai_pro the_one act_menpai">

        </div>
        <div class="menpai_pro the_two">

        </div>
        <div class="menpai_pro the_three">

        </div>
        <div class="menpai_pro the_four">

        </div>
        <div class="menpai_pro the_five">

        </div>
        <div class="menpai_pro the_six">

        </div>
        <div class="menpai_pro the_seven">

        </div>
        <div class="menpai_pro the_eight">

        </div>
        <div class="menpai_pro the_nine">

        </div>
        <div class="menpai_pro the_ten">

        </div>
        <div class="menpai_pro the_elven">

        </div>
        <div class="menpai_pro the_twevle">

        </div>
        <div class="menpai_pro the_thirteen">

        </div>
        <div class="menpai_pro the_fourteen">

        </div>
    </div>
    <!-- palystyle -->
    <div id="playStyle">
        <div class="tit"></div>
    </div>
    <!-- yc -->
    <div id="yc2">

    </div>
    <div id="jianghu">
        <div class="tit"></div>
        <div class="jtx"></div>
        <div class="btns">
            <div class="btn1"></div>
            <div class="btn2"></div>
        </div>
        <div class="ewm">

        </div>
    </div>
    <!-- footer -->
    <div id="footer">
        <div class="footer_con">
            <div class="footerTop">
                <div class="im1">
                    <a href=""><img src="./public/images/footer1.png" alt=""></a>
                </div>
                <div class="im2">
                    <a href=""><img src="./public/images/footer2.png" alt=""></a>
                </div>
                <div class="link">
                    <a href="">关于我们</a>
                    <a href="">服务协议</a>
                    <a href="">客服中心</a>
                    <a href="">联系我们</a>
                    <a href="">诚聘英才</a>
                </div>
            </div>
            <div class="copyr">
                Copyright © 1999-2019 成都西山居世游科技有限公司 版权所有
            </div>
            <div class="copyr1">
                <a href="">增值电信业务经营许可证 川B2-20130104</a>
                <i> 蜀ICP备14009198号-2</i>
                <a href="">川公网安备51019002000850号 </a>

                <a href="">文网游备字〔2017〕Ｃ-RPG 0031 号 <img src="./public/images/footer3.png" alt=""></a>
            </div>
            <div class="copyr2">
                <a href="">网络文化经营许可证 川网文[2018]9435-346号　</a>
                <a href="">互联网出版许可证 新出网证<川>字027号</a>
            </div>
            <div class="copyr3">
                <a href="">信息系统安全等级保护备案证书编号：51010013010　 </a>
                <a href="">《网络游戏管理暂行办法》第九条内容</a>
                <a href="">《中华人民共和国网络安全法》</a>
            </div>
            <div class="footerBottom">
                <div class="left">
                    <a href=""><img src="./public/images/footer4.png" alt=""></a>
                    <a href=""><img src="./public/images/footer5.png" alt=""></a>
                </div>

                <div class="last">
                    <p>婉拒18岁以下未成年用户进入游戏 健康游戏忠告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身</p>
                    <p>合理安排时间 享受健康生活 进入：未成年人家长监护系统 <a href="">违法和不良信息举报中心</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- login -->
    <div class="login">
        <div class="tit">金山通行证
            <div class="btn"></div>
        </div>
        <form>

            <div class="username">
                <label for="username">通行证:</label> <input type="text" name="username" minlength="1" maxlength="15"><i>马上注册</i>
            </div>
            <div class="password">
                <label for="password">密码:</label> <input type="password" name="password" minlength="1" maxlength="15"><i>忘记密码?</i>
            </div>
            <button class="btn">立即登陆</button>
        </form>
    </div>
    <!-- register -->
    <div class="register">
        <div class="tit">金山通行证
            <div class="btn"></div>
        </div>
        <form>
            <div class="username input">
                <label for="username"><strong>*</strong>通行证:</label> <input type="text" name="username" minlength="1" maxlength="15">
            </div>
            <div class="password input">
                <label for="password"><strong>*</strong>密码:</label> <input type="password" name="password" minlength="1" maxlength="15">
            </div>
            <div class="password input">
                <label for="repasswd"><strong>*</strong>确认密码:</label> <input type="password" name="repasswd" minlength="1" maxlength="15">
            </div>
            <p>根据国家规定请填写真实身份信息，官方会严格保护您的隐私：</p>
            <div class="realname input">
                <label for="realname"><strong>*</strong>真实姓名:</label> <input type="text" name="realname" minlength="1" maxlength="15">
            </div>
            <div class="usernumber input">
                <label for="usernumber"><strong>*</strong>身份证:</label> <input type="text" name="usernumber" minlength="1" maxlength="15">
            </div>
            <div class="check">
                <input type="checkbox" name="check"><label for="check">我已阅读并同意</label>
            </div>
            <div class="xy"><span>金山网络服务使用协议</span><span>金山通行证隐私权政策</span></div>
            <button class="btn">确认提交</button>
        </form>
    </div>
    <script src="public/js/jquery-3.4.1.min.js"></script>
    <script src="public/js/jquery.rotate.min.js"></script>
    <script src="public/js/index.js"></script>
</body>

</html>